/*  кнопка меню  */

.menu-toggle {
   
     
    @media screen and (max-width:767px) {
    padding: 10px;
   
    margin: 0px;
    border: none;
    background-color: transparent; 
    }

    @media screen and (min-width:768px){
        display: none;
    }

  

    
}

.button-close { 
    display: flex;
    justify-content: flex-end;}


.button-close {
    @media screen and (min-width:768px) {
        display: none;
    }
}






