
 /* text colors */
  $color-text-white: #FFFFFF; 
  $color-text-black: #212121 ;
  $color-blue: #2196F3;
 

  /* hover colors */
  $color-hover: #2196F3;

  $color-btn-active: #188CE8;


  /* background colors */
  $color-background: #ffffff;
  $color-footer:#2F303A;
  $color-card: #F5F4FA; 